
#index {
  font-family: 'Julius Sans One', sans-serif;
  color: #8C1C13;
  background-color: #DBD8D4;
  text-align: center;
  font-size:29pt;
  padding: 20px;
}

h1 {
   text-align: center;
  font-size:20pt;
    font-family: 'Julius Sans One', sans-serif;
}

h2 {
   text-align: center;
  font-size:20pt;
    font-family: 'Julius Sans One', sans-serif;
}

#hi{
  text-align: center;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

#yo{
   text-align: center;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size:14pt;
}

#map{
  display: block;
    margin: auto;
}
#con{
  font-family: 'Julius Sans One', sans-serif;
  color: #8C1C13;
  margin-top: 90px;
  text-align: center;
  font-size:29pt;
}

li {
  display: inline;
  color: #1E1E24;
  font-size: 40pt;
  text-decoration: none;
  background-color: black;
}

a:active {
  color: #7E78D2;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  background-color: black;
}

a:visited {
  color: white;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  background-color: black;
}

a:hover {
  color:   #B0413E;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  background-color: black;
}

a:link {
  color: white;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  background-color: black;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: black;
    overflow: hidden;
    position: fixed;
    top: 0;
    height: 7%;
    width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: right;
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
    padding-bottom: 30px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
  font-family: 'Josefin Sans', sans-serif;
    color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: black;
    color: white;
}

body {
  background-color: #DBD8D4;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p{
  font-size:15pt;
  text-align: center;
   color: black;
  font-family: 'Open Sans', sans-serif;
}

img {
    display: block;
    margin: auto;
    width: 40%;
}

